<nav class="navbar navbar-dark bg-dark mb-5">
  <span class="navbar-brand" >Avaliação MV</span>
  
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <span class="nav-item nav-link active">{{getUser()}}</span>
      <a class="nav-item nav-link" title="Github" href="https://github.com/Cadlira/avaliacaomv" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" title="Sair do sistema"  (click)="logout()">
        <i class="fa fa-sign-out"></i>
      </a>
    </div>
  </div>
</nav>